<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= trans('keios.pgpayuro::lang.info.header') ?></h3>
    </div>
    <div class="content">
       <h3>//todo</h3>
    </div>
</div>
